<section id="fc-pricing" aria-label="%%UEW_HOMEPAGE_PRICING_ATTR_001_ARIA_LABEL%%">


<div class="fc-pri-wrap">
    <div class="fc-pri-card fc-pri-rv" role="note">
      <div class="fc-pri-main">
        <p class="fc-pri-label">%%UEW_HOMEPAGE_PRICING_TEXT_001%%</p>
        <div class="fc-pri-value">
          <h3 class="fc-pri-price">%%UEW_HOMEPAGE_PRICING_TEXT_002%%</h3>
          <p class="fc-pri-person">%%UEW_HOMEPAGE_PRICING_TEXT_003%%</p>
        </div>
        <h3 class="fc-pri-save">%%UEW_HOMEPAGE_PRICING_TEXT_004%%</h3>
      </div>
      <div class="fc-pri-side">
        <button type="button" class="fc-pri-btn" data-umoya-form-popup>%%UEW_HOMEPAGE_PRICING_TEXT_005%%</button>
        <p class="fc-pri-limited">%%UEW_HOMEPAGE_PRICING_TEXT_006%%</p>
      </div>
    </div>
  </div>
</section>
